@use "styles/helpers" as *;

.feature_container {
    border-bottom: 1px solid var(--light-grey);
    padding-block: 24px;
    h4 {
        margin-top: 0;
    }

    @include breakpoint($medium) {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
}

.container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);

    @include breakpoint($medium) {
        align-items: center;
        justify-items: center;
    }
}
.wrap {
    h5 {
        opacity: 0.5;
        text-transform: uppercase;
        margin-top: 0;
        margin-bottom: 10px;
        @include breakpoint($medium) {
            display: none;
        }
    }
}
.check_icon_none {
    display: none;
}
