:root {
    --pure-black: hsla(0, 0%, 0%, 1);
    --pure-white: hsla(0, 0%, 100%, 1);
    --light-grey: hsla(0, 0%, 88%, 1);
    --very-light-grey: hsla(0, 0%, 96%, 1);
    --main-accent: linear-gradient(
        26.57deg,
        #ffc593 0.42%,
        #bc7198 43.46%,
        #5a77ff 83.33%
    );
}
